* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html, body {
    height: 100%;
}

body {
    background-color: #edeced;
}

h1 {
    font-size: 50px;
    font-weight: 500;
    line-height: 72px;
}

h2 {
    font-size: 43px;
    font-weight: 500;
    line-height: 58px;
}

h3 {
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
}

h4 {
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
}

h5 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

h6 {
    font-size: 14px;
    font-weight: 200;
    opacity: 0.8;
}

header {
    width: 100%;
    height: 48px;
    padding: 24px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

header ul {
    width: 320px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;   
}

header ul li button {
    width: 52px;
    height: 32px;
    border: 0;
    font-size: 14px;
    color: white;
    background-color: inherit;
}

header ul li button:hover {
    cursor: pointer;
    font-size: 18px;
    transition: 0.2s;
}

header ul li button.selected {
    font-size: 16px;
}

main {
    width: 100%;
    margin-top: 48px;
    display: flex;
}

main div.callout-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px 108px;
    text-align: center;
}

main div.callout-container h2 {
    margin-bottom: 20px;
}

main div.img-container img {
    width: 750px;
    height: 550px;
}

section.about {
    width: 100%;
    margin: 54px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.about h1{
    text-align: center;
}

section.about div.slider-toggle-container {
    width: 360px;
    display: flex;
    margin-top: 32px;
    border: 1px solid black;
    justify-content: space-between;
    align-self: center;
}

section.about div.slider-toggle-container button {
    padding: 12px 31px;
    background-color: white;
    border: 0
}

section.about div.slider-toggle-container button:hover {
    cursor: pointer;
}

section.about div.slider-container {
    width: 80%;
    margin-top: 48px;
    padding: 24px;
    background-color: #ccc;
    border-radius: 20px;
}

section.about div.slider-exhibition-container {
    width: 100%;
}

section.about div.slider-exhibition {
    width: 100%;
    display: flex;
}

section.about div.exhibition-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    order: 2;
}

section.about div.exhibition-content h3 {
    margin-bottom: 20px;
}

section.about div.exhibition-img-container {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.about div.exhibition-img {
    width: 420px;
    height: 300px;
    background-image: url("./../assets/image_6487327.JPG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

section.commercies {
    width: 100%;
    margin: 54px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.commercies > h6 {
    width: 560px;
    margin: 32px 0;
    text-align: center;
}

section.commercies div.commercies-container {
    width: 80%;
    padding: 32px;
    display: flex;
    border-radius: 16px;
}

section.commercies div.commercies-list {
    width: 28%;
}

section.commercies div.commerce-option {
    width: 100%;
    margin: 12px 0;
    padding: 12px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

section.commercies div.commerce-option:hover {
    cursor: pointer;
    background-color: #ccc;
    transition: 0.3s;
}

section.commercies div.commerce-option img {
    width: 80px;
    height: 80px;
    border-radius: 8px;
}

section.commercies div.selected {
    background-color: white;
}

section.commercies div.commerce-view {
    width: 72%;
    margin: 12px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}

section.commercies div.commerce-view img {
    width: 360px;
    height: 260px;
}

section.commercies div.commerce-view h5 {
    margin: 12px 0;
}

section.commercies div.commerce-view h6 {
    margin: 12px 200px 24px 200px;

}

section.commercies div.commerce-view button {
    padding: 12px 32px;
    border-radius: 12px;
}

footer {
    width: 100%;
    padding: 12px 42px;
    color: white;
    background-color: rgb(45, 45, 45);
}

footer div.top {
    padding: 6px 28px 12px 28px;
    border-bottom: 1px solid white;
}

footer div.body {
    margin: 24px 0;
    padding: 0 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer div.theme-quotation {
    width: 480px;
    height: 180px;
}

footer div.theme-quotation p {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 18px;
    font-style: italic;
    padding-left: 24px;
}

footer div.theme-quotation p br {
    content: "";
    display: block;
    margin: 0.5em;
}

footer div.theme-quotation span.mark {
    font-size: 24px;
}

footer div.localization h5{
    margin-bottom: 12px;
}

footer ul {
    list-style: none;
}

footer ul li {
    margin: 4px;
}

footer ul li button {
    padding: 8px;
    color: white;
    background-color: inherit;
    border: 0;
}

footer ul li button:hover {
    cursor: pointer;
}

footer div.disclaimer {
    padding: 12px 0;
    text-align: center;
    border-top: 1px solid white;
}

footer div.disclaimer a{ 
    color: white;
    text-decoration: none;
}