* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html, body {
    height: 100%;
    display: none;
}

body {
    background-color: white;
}

body::-webkit-scrollbar {
    width: 12px;
}
  
body::-webkit-scrollbar-track {
    background: #edeced;
}
  
body::-webkit-scrollbar-thumb {
    background-color: #edeced;
    border-radius: 20px;
    border: 3px solid #c1c1c1;
}

h1 {
    font-size: 52px;
    font-weight: 500;
    line-height: 72px;
}

h2 {
    font-size: 46px;
    font-weight: 500;
    line-height: 58px;
}

h3 {
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
}

h4 {
    font-size: 28px;
    font-weight: 400;
    line-height: 28px;
}

h5 {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

h6 {
    font-size: 16px;
    font-weight: 200;
    opacity: 0.8;
}

header {
    width: 100%;
    height: 60px;
    padding: 24px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    z-index: 100;
    transition: 0.4s;
}

header.alternative {
    height: 72px;
    justify-content: space-between;
    color: black;
    background-color: white;
    box-shadow: 0px 4px 6px 0px rgb(12 0 46 / 6%);
    transition: 0.4s;
}

header div{
    display: none;
    justify-content: center;
    align-items: center;
}

header img {
    width: 36px;
    height: 36px;
    margin-right: 16px;
}

header ul {
    width: 320px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;   
}

header ul li button {
    width: 52px;
    height: 32px;
    border: 0;
    font-size: 16px;
    color: white;
    background-color: inherit;
}

header ul li button:hover {
    cursor: pointer;
}

header ul li button.selected {
    font-size: 16px;
}

main {
    width: 100%;
    margin-top: 60px;
    padding-bottom: 26px;
    display: flex;
    background-color: #edeced;
}

main div.callout-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 108px;
    text-align: center;
    position: relative;
}

main div.callout-container h2 {
    margin-bottom: 20px;
}

main div.callout-container div {
    width: 40px;
    height: 40px;
    margin-top: 18px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #edeced;
    border: 1px solid black;
    border-radius: 20px;
    z-index: 99;
}

main div.callout-container img {
    width: 36px;
    height: 36px;
    padding: 6px;
    background-color: #edeced;
    border-radius: 20px;
    z-index: 99;
}

main div.callout-container span {
    width: 320px;
    height: 1px;
    position: absolute;
    top: 16px;
    background-color: black;
    z-index: 2;
}

main img {
    width: 860px;
    height: 640px;
}

section.about {
    width: 100%;
    margin: 27px 0 54px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: white;
}

section.about h1{
    text-align: center;
}

section.about div.slider-toggle-container {
    display: flex;
    margin-top: 32px;
    border: 1px solid black;
    justify-content: space-between;
    align-self: center;
}

section.about div.slider-toggle-container button.selected {
    cursor: pointer;
    background-color: rgb(252, 252, 252);
    transition: 0.5s;
}

section.about div.slider-toggle-container button {
    padding: 12px 30px;
    background-color: white;
    border: 0;
    transition: 0.2s;
}

section.about div.slider-toggle-container button:hover {
    cursor: pointer;
    background-color: rgb(249, 249, 249);
    transition: 0.5s;
}

section.about div.slider-container {
    width: 66%;
    margin-top: 48px;
    overflow-x: hidden;
}

section.about div.slider-exhibition-container {
    width: 300%;
    display: flex;
    position: relative;
}

section.about div.slider-exhibition {
    width: calc(100% / 3);
    display: flex;
}

section.about div.exhibition-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    order: 2;
}

section.about div.exhibition-content h3 {
    margin-bottom: 20px;
}

section.about div.exhibition-img-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
}

section.about img {
    width: 360px;
    height: 240px;
    box-shadow: 0px 4px 16px 4px rgb(12 0 46 / 6%);
}

section.about p {
    margin-top: 10px;
    padding: 4px 6px;
    background-color: rgb(255, 255, 255);
    border: 0;
    border-bottom: 1px solid black;
    transition: 0.2s;
}

section.about div.bullet-container {
    margin: 12px 0;
    display: flex;
}

section.about div.bullet-container span {
    width: 8px;
    height: 8px;
    margin: 0 8px;
    border-radius: 16px;
    background-color: black;
    transition: 0.2s;
}

section.about div.bullet-container span:hover {
    cursor: pointer;
    background-color: #3d3d3d;
    transition: 0.2s;
}

section.about div.bullet-container span.selected {
    width: 16px;
    transition: 0.2s;
}

section.commercies {
    width: 100%;
    margin: 54px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

section.commercies > h6 {
    width: 560px;
    margin: 32px 0;
    text-align: center;
}

section.commercies div.commercies-container {
    width: 80%;
    padding: 32px;
    display: flex;
    border-radius: 16px;
    z-index: 99;
}

section.commercies div.commercies-list {
    width: 36%;
    height: 500px;
}

section.commercies div.commerce-option {
    width: 100%;
    height: 100px;
    margin: 12px 0;
    padding: 12px 20px;
    display: flex;
    align-items: center;
}

section.commercies div.commercies-list div.selected {
    padding: 24px 32px;
    transition: 0.2s;
    background-color: rgb(253, 253, 253);
    box-shadow: 0px 4px 16px 4px rgb(12 0 46 / 6%);
}

section.commercies div.commerce-option:hover {
    cursor: pointer;
    background-color: rgb(242, 242, 242);
    transition: 0.3s;
}

section.commercies div.commerce-option img {
    width: 48px;
    height: 48px;
    margin-right: 24px;
}

section.commercies div.selected {
    background-color: white;
}

section.commercies div.commerce-view {
    width: 64%;
    height: 500px;
    margin: 12px 0;
    text-align: center;
    overflow: hidden;
}

section.commercies div.commerce-inner-view {
    height: 480%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -15%;
}

section.commercies div.commerce-option-view {
    height: 450px;
    margin: 75px 0;
}

section.commercies div.commerce-option-view img {
    width: 360px;
    height: 260px;
}

section.commercies div.commerce-option-view h5 {
    margin: 12px 0;
}

section.commercies div.commerce-option-view h6 {
    margin: 12px 200px 24px 200px;

}

section.commercies div.commerce-option-view button {
    padding: 4px 6px;
    background-color: rgb(255, 255, 255);
    border: 0;
    border-bottom: 1px solid black;
    transition: 0.2s;
}

section.commercies div.commerce-option-view button:hover {
    cursor: pointer;
    font-size: 16px;
    padding: 6px 8px;
    transition: 0.2s;
}

section div.site-decoration {
    width: 320px;
    height: 320px;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.2;
    z-index: 99;
}

section.about div.site-decoration {
    background-image: url('../assets/icons/camera.png');
    left: -132px;
    transform: rotate(-45deg);
}

section.commercies div.site-decoration {
    background-image: url('../assets/icons/camera_alternative.png');
    right: -120px;
    transform: rotate(45deg);
}

footer {
    width: 100%;
    padding: 12px 42px;
    color: white;
    background-color: rgb(45, 45, 45);
}

footer div.top {
    padding: 6px 28px 12px 28px;
    border-bottom: 1px solid white;
}

footer div.body {
    margin: 24px 0;
    padding: 0 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .social-media {
    margin-bottom: 40px;
}

footer .social-media h5, footer .social-media h6 {
    margin-bottom: 24px;
}

footer .social-media img {
    width: 32px;
    height: 32px;
    margin: 0 8px;
}

footer div.localization h5{
    margin-bottom: 12px;
}

footer ul {
    list-style: none;
}

footer ul li {
    margin: 4px;
}

footer ul li button {
    font-size: 16px;
    padding: 8px;
    color: white;
    background-color: inherit;
    border: 0;
}

footer ul li button:hover {
    cursor: pointer;
}

footer div.disclaimer {
    padding: 12px 0;
    text-align: center;
    border-top: 1px solid white;
}

footer div.disclaimer a{ 
    color: white;
    text-decoration: none;
}

.modal {
    background-color: rgba(0,0,0, 0.2);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-body {
    width: 78%;
    height: 94%;
    background-color: #edeced;
    box-shadow: 0px 4px 16px 4px rgb(12 0 46 / 6%);
}

.modal-body div {
    width: 100%;
    height: 90%;
    display: flex;
}

.modal-body div nav {
    width: 32%;
    padding: 8px;
    display: none;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.modal-body div nav::-webkit-scrollbar {
    width: 12px;
}
  
.modal-body div nav::-webkit-scrollbar-track {
    background: #edeced;
}
  
.modal-body div nav::-webkit-scrollbar-thumb {
    background-color: #edeced;
    border-radius: 20px;
    border: 3px solid #c1c1c1;
}

.modal-body div nav img {
    width: 220px;
    height: 160px;
    margin-bottom: 8px;
    padding: 8px 0;
    border: 0;
}

.modal-body div nav img:hover {
    cursor: pointer;
}

.modal-body div article {
    width: 68%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-body div article img {
    width: 640px;
    height: 480px;
    border: 1px solid black;
    padding: 1px;
}

.modal-body > button {
    width: 100%;
    height: 10%;
    text-align: center;
    letter-spacing: 1px;
    background-color: black;
    color: white;
    border: 0;
    cursor: pointer;
    transition: 0.2s;
}

.modal-body > button:hover {
    background-color: rgb(138, 138, 138);
    color: rgb(240, 240, 240);
    transition: 0.2s;
}

.prevent-scroll {
    overflow: hidden;
}

.splash-screen {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #edeced;
}

.splash-screen h2 {
    width: 360px;
    margin-bottom: 10px;
}